In [55]:
import pandas as pd

In [56]:
df = pd.read_csv('sales_data.csv')

In [57]:
#Convert 'date' do 'datetime'
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

#sort by date ascending
df = df.sort_values(by='date', ascending=True)

df['qty'] = df['qty'].astype(int)
df['unit_price'] = df['unit_price'].astype(int)
df['item'] = df['item'].astype(str)

#creat column 'total'
df['total'] = df['qty']*df['unit_price']

#convert total:
df['total'] = df['total'].astype(int)

#delet column unnamed:6
df = df.drop(['store', 'item_category', 'Unnamed: 6'], axis=1)

In [58]:
#Select only the rows concerning the top most sold itens:
df2 = df.groupby(['date', 'item'])[['qty', 'total']].sum().reset_index().sort_values(by='date', ascending=True)
top_items = df.groupby(['item'])['qty'].sum().reset_index().sort_values(by='qty', ascending=False).head(10)
df1 = df2[df2['item'].isin(top_items['item'])]

In [59]:
#Merge with temperature dates:
celsius = pd.read_csv('temperature_italy.csv')
celsius['Date'] = pd.to_datetime(celsius['Date'], format='%Y-%m-%d')
df1 = pd.merge(df1, celsius, left_on='date', right_on='Date', how='inner')
df1 = df1.drop(['Country', 'Date'], axis=1)

In [60]:
#Map with clothes
itens = top_items['item'].to_list()
nomes = ['canotta bianca', 'maglietta', 'wind-giacca', 'maglione', 'camicia', 'pantalone', 'canotta nera', 'giubotto', 'calzini', 'mutande']
dicionario_itens_nomes = dict(zip(itens, nomes))
df1['cloth'] = df1['item'].map(dicionario_itens_nomes)

In [62]:
df1.to_csv(path_or_buf='store.csv', sep=',', index=False)